{% extends 'basePage.html' %}
{% load static %}

{% block body %}
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-dark hero-header imageAbout mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- About Welcome Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp mb-5" data-wow-delay="0.1s">
                <h1>Welcome to <i class="fa fa-utensils text-primary me-2"></i>Twiga Resort</h1>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                                 src="{% static 'assets/img/about/a1.jpg' %}" alt="about-image one">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                                 src="{% static 'assets/img/about/a4.jpg' %}" alt="about-image four">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="mb-4">Nestled by the serene lakeside, Twiga Resort offers the perfect blend of luxury,
                        tranquility, and adventure. Whether you’re here for our signature dishes, breathtaking views, or
                        a relaxing getaway, we promise an unforgettable experience.</p>
                    <p class="mb-4">With over 5 years of excellence, we take pride in hosting remarkable events,
                        crafting unique flavors, and providing a warm, family-friendly environment. At Twiga, every
                        moment is a memory waiting to happen.</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">5</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">25</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Unique</p>
                                    <h6 class="text-uppercase mb-0">Signature Dishes</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">550</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Events</p>
                                    <h6 class="text-uppercase mb-0">Hosted Successfully</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">4.5</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Stars</p>
                                    <h6 class="text-uppercase mb-0">from 200+ Reviews</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Welcome End -->

    <!-- About History Section Start -->
    <div class="container-xxl py-3 bg-light">
        <div class="container">
            <div class="col-12">
                <div class="border-top border-1 border-primary px-3 mb-5 mt-5 mx-auto"></div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1>A Glimpse into Our History</h1>
            </div>
            <div class="row g-5 mt-3 align-items-center">
                <div class="col-lg-6">
                    <p class="lead mb-0">Twiga Resort was founded in 2018 with a vision to create a sanctuary that
                        perfectly blends nature’s tranquility with modern luxury.
                        <br>Starting as a small family-owned establishment by the lakeside, the resort quickly became
                        known for its warm hospitality, breathtaking views, and exceptional culinary offerings.
                        <br>Our dedication to providing exceptional experiences has allowed us to grow into a well-loved
                        getaway for visitors from all over the world.</p>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center" style="overflow: hidden;">
                    <img class="w-75 wow zoomIn" data-wow-delay="0.2s"
                         src="{% static 'assets/img/about/about_hist.jpg' %}" alt="about-image history"
                         style="aspect-ratio: 4/3; object-fit: cover; border-radius: 0.25rem;">
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="border-top border-1 border-primary px-3 mb-5 mt-5 mx-auto"></div>
            </div>
        </div>
    </div>

    <!-- About History Section End -->

    <!-- About Mission and Values Section Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Our Mission and Values</h1>
            </div>
            <div class="row g-5 align-items-center">
                <p class="mb-0">At Twiga Resort, we are committed to providing a unique and personalized experience
                    to every guest. Our mission is to create a place where luxury meets nature, offering comfort,
                    relaxation, and adventure. We value sustainability and are proud of our eco-friendly practices
                    that help us reduce our environmental impact. Every service we provide is designed to leave our
                    guests with unforgettable memories.</p>
                <p class="mb-4">We believe in the power of community and actively work to support local businesses
                    and artisans. From sourcing fresh ingredients from nearby farms to offering locally crafted
                    decor, our resort reflects the culture and spirit of the region. Our team is dedicated to
                    offering unparalleled service, ensuring that each guest feels like part of the Twiga family.<br>We
                    are constantly evolving and finding new ways to enrich your stay, ensuring that every visit
                    feels special and exceeds your expectations. Our passion is to create unforgettable experiences
                    that make you feel right at home.</p>
            </div>
        </div>
    </div>
    <!-- About Mission and Values Section End -->


{% endblock %}