{% extends 'basePage.html' %}
{% load static %}

{% block body %}
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-dark hero-header imageBookings mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Bookings</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Bookings</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s" id="booking_tabs"
         style="scroll-margin-top: 100px;">
        <ul class="nav owl-nav-pills d-inline-flex justify-content-center border-bottom mb-5">
            <!-- Table Reservation Tab -->
            <li class="owl-nav-item active">
                <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 owl-slide-link" data-slide-to="0">
                    <i class="fa fa-utensils fa-2x text-primary"></i>
                    <div class="ps-3">
                        <small class="text-body">Dining</small>
                        <h6 class="mt-n1 mb-0">Table Reservation</h6>
                    </div>
                </a>
            </li>

            <!-- Event Reservation Tab -->
            <li class="owl-nav-item">
                <a class="d-flex align-items-center text-start mx-3 pb-3 owl-slide-link" data-slide-to="1">
                    <i class="fa fa-birthday-cake fa-2x text-primary"></i>
                    <div class="ps-3">
                        <small class="text-body">Celebrations</small>
                        <h6 class="mt-n1 mb-0">Event Spaces</h6>
                    </div>
                </a>
            </li>

            <!-- Conference Room Reservation Tab -->
            <li class="owl-nav-item">
                <a class="d-flex align-items-center text-start mx-3 pb-3 owl-slide-link" data-slide-to="2">
                    <i class="fa fa-briefcase fa-2x text-primary"></i>
                    <div class="ps-3">
                        <small class="text-body">Business</small>
                        <h6 class="mt-n1 mb-0">Conference Room</h6>
                    </div>
                </a>
            </li>

            <!-- Boat/Jet Ski Rides Reservation Tab -->
            <li class="owl-nav-item">
                <a class="d-flex align-items-center text-start mx-3 pb-3 owl-slide-link" data-slide-to="3">
                    <i class="fa fa-ship fa-2x text-primary"></i>
                    <div class="ps-3">
                        <small class="text-body">Adventure</small>
                        <h6 class="mt-n1 mb-0">Boat/Jet Ski Rides</h6>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-success text-center border border-2 border-success rounded-3" role="alert"
                     style="margin-left: 70px; margin-right: 70px;">
                    <strong><i class="fas fa-exclamation-triangle"></i> Alert! </strong>{{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Booking Carousel Start -->
    <div id="owl-carousel-custom" class="owl-carousel owl-theme">
        <div class="item">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Book A Table</h1>
            </div>
            <div class="row align-items-center pb-3">
                <p class="lead mb-0">At Twiga Resort, we believe every meal is a moment to savor. Whether you're
                    celebrating a special occasion or simply enjoying a quiet evening with loved ones, our table
                    reservations provide the perfect setting.<br>Indulge in exquisite dishes while enjoying serene
                    lakeside views. Book your table today for an unforgettable dining experience.</p>
            </div>
            <div class="row g-0">
                <!-- First Column -->
                <div class="col-md-6">
                    <div class="bookings imageTable"></div>
                </div>
                <!-- Second Column -->
                <div class="col-md-6">
                    <div id="event_reservation"
                         class="container wow fadeInUp bg-dark align-items-center" data-wow-delay="0.1s">
                        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                            <h5 class="section-title ff-secondary text-start text-primary fw-normal">
                                Online Reservation</h5>

                            <h1 class="text-white mb-4">Book A Table</h1>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="Table">
                                <input type="hidden" name="amount" value="1000">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="Your Name" required>
                                            <label for="name">Your Name *</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="tel" class="form-control" id="phone" name="phone"
                                                   placeholder="Your Phone" required
                                                   pattern="254\d{9}"
                                                   title="Phone number must start with 254 followed by 9 digits"
                                                   value="254">
                                            <label for="phone">Your Phone *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                            <input type="datetime-local" id="dateTime" name="dateTime"
                                                   class="form-control datetimepicker-input" placeholder="Date & Time"
                                                   required/>
                                            <label for="dateTime">Date & Time</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select1" name="persons" required>
                                                <option value="" disabled selected>Attendee Count</option>
                                                <option value="1">1 - 4</option>
                                                <option value="6">6 - 10</option>
                                                <option value="10">10 - 20</option>
                                                <option value="20">20 +</option>
                                            </select>
                                            <label for="select1">No Of People *</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                          <textarea class="form-control" placeholder="Special Request" id="message"
                                                    name="specialRequest" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-warning text-center">Fields marked with * are required.</p>
                                        <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Book An Event Space</h1>
            </div>
            <div class="row align-items-center pb-3">
                <p class="lead mb-0">At Twiga Resort, our event
                    spaces are designed
                    to make your special occasions unforgettable. From birthdays to weddings and
                    everything in between,
                    we offer a beautifully crafted venue to suit your needs. Let us help bring your
                    vision to life
                    and create memories that will last a lifetime.</p>
            </div>
            <div class="row g-0">
                <!-- First Column -->
                <div class="col-md-6">
                    <div class="bookings imageEvent"></div>
                </div>
                <!-- Second Column -->
                <div class="col-md-6">
                    <div id="event_reservation"
                         class="container wow fadeInUp bg-dark align-items-center" data-wow-delay="0.1s">
                        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                            <h5 class="section-title ff-secondary text-start text-primary fw-normal">
                                Online Reservation</h5>

                            <h1 class="text-white mb-4">Book An Event Space</h1>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="Event Space">
                                <input type="hidden" name="amount" value="2000">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="Your Name" required>
                                            <label for="name">Your Name *</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="tel" class="form-control" id="phone" name="phone"
                                                   placeholder="Your Phone" required
                                                   pattern="254\d{9}"
                                                   title="Phone number must start with 254 followed by 9 digits"
                                                   value="254">
                                            <label for="phone">Your Phone *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                            <input type="datetime-local" id="dateTime" name="dateTime"
                                                   class="form-control datetimepicker-input" placeholder="Date & Time"
                                                   required/>
                                            <label for="dateTime">Date & Time</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select1" name="persons" required>
                                                <option value="" disabled selected>Attendee Count</option>
                                                <option value="1">1 - 4</option>
                                                <option value="6">6 - 10</option>
                                                <option value="10">10 - 20</option>
                                                <option value="20">20 +</option>
                                            </select>
                                            <label for="select1">No Of People *</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                          <textarea class="form-control" placeholder="Special Request" id="message"
                                                    name="specialRequest" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-warning text-center">Fields marked with * are required.</p>
                                        <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Book A Conference Room</h1>
            </div>
            <div class="row align-items-center pb-3">
                <p class="lead mb-0">When it comes to business, we understand the importance of a professional and
                    comfortable environment. Our conference rooms are equipped with state-of-the-art technology and
                    a peaceful atmosphere to ensure that your meetings run smoothly. Whether you're hosting a small
                    workshop or a large corporate seminar, Twiga Resort provides the perfect space for your
                    professional needs.</p>
            </div>
            <div class="row g-0">
                <!-- First Column -->
                <div class="col-md-6">
                    <div class="bookings imageConference"></div>
                </div>
                <!-- Second Column -->
                <div class="col-md-6">
                    <div id="event_reservation"
                         class="container wow fadeInUp bg-dark align-items-center" data-wow-delay="0.1s">
                        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                            <h5 class="section-title ff-secondary text-start text-primary fw-normal">
                                Online Reservation</h5>

                            <h1 class="text-white mb-4">Book A Conference Room</h1>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="Conference Room">
                                <input type="hidden" name="amount" value="5000">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="Your Name" required>
                                            <label for="name">Your Name *</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="tel" class="form-control" id="phone" name="phone"
                                                   placeholder="Your Phone" required
                                                   pattern="254\d{9}"
                                                   title="Phone number must start with 254 followed by 9 digits"
                                                   value="254">
                                            <label for="phone">Your Phone *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                            <input type="datetime-local" id="dateTime" name="dateTime"
                                                   class="form-control datetimepicker-input" placeholder="Date & Time"
                                                   required/>
                                            <label for="dateTime">Date & Time</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select1" name="persons" required>
                                                <option value="" disabled selected>Attendee Count</option>
                                                <option value="1">1 - 4</option>
                                                <option value="6">6 - 10</option>
                                                <option value="10">10 - 20</option>
                                                <option value="20">20 +</option>
                                            </select>
                                            <label for="select1">No Of People *</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                          <textarea class="form-control" placeholder="Special Request" id="message"
                                                    name="specialRequest" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-warning text-center">Fields marked with * are required.</p>
                                        <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Book A Boat or Jet Ski Ride</h1>
            </div>
            <div class="row align-items-center pb-3">
                <p class="lead mb-0">Adventure awaits on the water! At Twiga Resort, we offer thrilling boat and jet
                    ski
                    rides to give you an unforgettable experience. Feel the rush of the wind and the waves as you
                    explore the scenic lakeside. Whether you're looking for an adrenaline-pumping ride or a relaxing
                    cruise, we’ve got you covered. Book your water adventure today!</p>
            </div>
            <div class="row g-0">
                <!-- First Column -->
                <div class="col-md-6">
                    <div class="bookings imageBoat"></div>
                </div>
                <!-- Second Column -->
                <div class="col-md-6">
                    <div id="event_reservation"
                         class="container wow fadeInUp bg-dark align-items-center" data-wow-delay="0.1s">
                        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                            <h5 class="section-title ff-secondary text-start text-primary fw-normal">
                                Online Reservation</h5>

                            <h1 class="text-white mb-4">Book A Boat or Jet Ski Ride</h1>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="Boat/ski Ride">
                                <input type="hidden" name="amount" value="500">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="Your Name" required>
                                            <label for="name">Your Name *</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="tel" class="form-control" id="phone" name="phone"
                                                   placeholder="Your Phone" required
                                                   pattern="254\d{9}"
                                                   title="Phone number must start with 254 followed by 9 digits"
                                                   value="254">
                                            <label for="phone">Your Phone *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                            <input type="datetime-local" id="dateTime" name="dateTime"
                                                   class="form-control datetimepicker-input" placeholder="Date & Time"
                                                   required/>
                                            <label for="dateTime">Date & Time</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select1" name="persons" required>
                                                <option value="" disabled selected>Attendee Count</option>
                                                <option value="1">1 - 4</option>
                                                <option value="6">6 - 10</option>
                                                <option value="10">10 - 20</option>
                                                <option value="20">20 +</option>
                                            </select>
                                            <label for="select1">No Of People *</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                          <textarea class="form-control" placeholder="Special Request" id="message"
                                                    name="specialRequest" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-warning text-center">Fields marked with * are required.</p>
                                        <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Booking Carousel End -->



    <div class="container-xxl py-3 text-center">
        <div class="alert alert-warning mt-5" role="alert">
            <p class="mb-2">
                <strong>Important:</strong> Reservations are confirmed only upon payment. Unpaid reservations do not
                guarantee a booking and may result in the loss of your requested slot. Availability is subject to
                change.
            </p>
            <button type="button" class="btn btn-outline-warning mb-2 text-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fa fa-info-circle me-2" aria-hidden="true"></i>Learn More About the Reservation Process
            </button>

            <p class="mb-0">
                For the most accurate and up-to-date availability information, or if you have any questions, please <a
                    href="tel:+1234567890" class="text-primary">call us</a> or <a href="mailto:info@twigaresort.com"
                                                                                  class="text-primary">email us</a>.
                We’re happy to assist you.
            </p>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Currently available reservation options</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-4">Thank you for choosing Twiga Resort for your dining experience. Below are the
                        available options for your reservation:</p>
                    <ul class="list-unstyled">
                        <li class="mb-3"><strong>Reserve and Pay:<br></strong> Secure your reservation by completing the
                            payment after making the booking. An mpesa request will be sent to your device.
                        </li>
                        <li class="mb-3"><strong>Reserve Without Payment:<br></strong> Proceed with the reservation
                            without payment. However, this does not guarantee a place as the reservation is not
                            confirmed.
                        </li>
                        <li class="mb-3"><strong>Cancel Reservation:<br></strong> Contact us to cancel the booking
                            appointment if you no longer wish to proceed.
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row g-3">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-danger w-100" data-bs-dismiss="modal">
                                Dismiss
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
