{% extends 'basePage.html' %}
{% load static %}

{% block body %}

    <!-- Hero Start -->
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-dark hero-header imageHome mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Indulge in <br>Lakeside Dining</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Enjoy expertly crafted meals, from fresh
                            seafood to gourmet delicacies, while surrounded by the stunning beauty of nature.<br>Savor
                            unforgettable meals with stunning views.</p>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Your perfect escape awaits!</p>
                        <a href="{% url 'bookings' %}"
                           class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="{% static 'assets/img/hero.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">

                <!-- Lakeside Dining -->
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded-5 shadow-lg pt-3 d-flex flex-column align-items-center justify-content-center"
                         style="min-height: 270px;">
                        <div class="p-4 text-center">
                            <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                            <h5>Lakeside Dining</h5>
                            <p>Savor world-class cuisine while enjoying the serene beauty and atmosphere of the
                                lake.</p>
                        </div>
                    </div>
                </div>
                <!-- Garden & Outdoor Spaces -->
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded-5 shadow-lg pt-3 d-flex flex-column align-items-center justify-content-center"
                         style="min-height: 270px;">
                        <div class="p-4 text-center">
                            <i class="fa fa-3x fa-tree text-primary mb-4"></i>
                            <h5>Garden & Outdoor Spaces</h5>
                            <p>Relax in our manicured gardens or enjoy outdoor activities with a picturesque view.</p>
                        </div>
                    </div>
                </div>
                <!-- Luxurious Accommodations -->
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded-5 shadow-lg pt-3 d-flex flex-column align-items-center justify-content-center"
                         style="min-height: 270px;">
                        <div class="p-4 text-center">
                            <i class="fa fa-3x fa-bed text-primary mb-4"></i>
                            <h5>Luxurious Accommodations</h5>
                            <p>Experience ultimate comfort in our elegant, lakeside rooms with breathtaking views.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->




    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                                 src="{% static 'assets/img/about/a1.jpg' %}" alt="about-image one">
                        </div>
                        <div class="col-6 text-start d-flex align-items-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.2s"
                                 src="{% static 'assets/img/about/a2.jpg' %}" alt="about-image two">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s"
                                 src="{% static 'assets/img/about/a3.jpg' %}" alt="about-image three">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.4s"
                                 src="{% static 'assets/img/about/a4.jpg' %}" alt="about-image four">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Twiga Resort</h1>
                    <p class="mb-4">Nestled by the serene lakeside, Twiga Resort offers the perfect blend of luxury,
                        tranquility, and adventure. Whether you’re here for our signature dishes, breathtaking views, or
                        a relaxing getaway, we promise an unforgettable experience.</p>
                    <p class="mb-4">With over 5 years of excellence, we take pride in hosting remarkable events,
                        crafting unique flavors, and providing a warm, family-friendly environment. At Twiga, every
                        moment is a memory waiting to happen.</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">5</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">25</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Unique</p>
                                    <h6 class="text-uppercase mb-0">Signature Dishes</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">550</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Events</p>
                                    <h6 class="text-uppercase mb-0">Hosted Successfully</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">4.5</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Stars</p>
                                    <h6 class="text-uppercase mb-0">from 200+ Reviews</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn_custom btn-primary py-3 px-5 mt-2" href="{% url 'about' %}">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Menu Start -->
    <div class="container-xxl py-5 custom-divider">
        <div class="container mb-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal mb-2">Food Menu</h5>
                <h1 class="mb-5">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav owl-nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="owl-nav-item active">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 owl-slide-link" data-slide-to="0">
                            <i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Popular</small>
                                <h6 class="mt-n1 mb-0">Breakfast</h6>
                            </div>
                        </a>
                    </li>
                    <li class="owl-nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 owl-slide-link" data-slide-to="1">
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Special</small>
                                <h6 class="mt-n1 mb-0">Lunch</h6>
                            </div>
                        </a>
                    </li>
                    <li class="owl-nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 owl-slide-link" data-slide-to="2">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Lovely</small>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a>
                    </li>
                </ul>

                <!-- Menu Carousel Start -->
                <div id="owl-carousel-custom" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/pancakes.jpg' %}" alt="Twiga Pancakes"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Twiga Pancakes</span>
                                            <span class="text-primary">KSh 200</span>
                                        </h5>
                                        <small class="fst-italic">Fluffy pancakes with fresh fruit and syrup</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/veggie_omelette.jpg' %}" alt="Veggie Omelette"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Veggie Omelette</span>
                                            <span class="text-primary">KSh 850</span>
                                        </h5>
                                        <small class="fst-italic">Loaded with fresh vegetables and herbs</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/avocado_toast.jpg' %}" alt="Avocado Toast"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Avocado Toast</span>
                                            <span class="text-primary">KSh 500</span>
                                        </h5>
                                        <small class="fst-italic">Smashed avocado on toast with a poached egg. With
                                            coffee or tea.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/bagel.jpg' %}" alt="Bagel with Cream Cheese"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Bagel with Cream Cheese</span>
                                            <span class="text-primary">KSh 1,250</span>
                                        </h5>
                                        <small class="fst-italic">Toasted bagel with creamy cheese and a touch of
                                            honey</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/fruit_parfait.jpg' %}" alt="Fruit Parfait"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Fruit Parfait</span>
                                            <span class="text-primary">KSh 650</span>
                                        </h5>
                                        <small class="fst-italic">Layered yogurt, granola, and fresh seasonal
                                            fruits</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/french_toast.jpg' %}" alt="French Toast"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>French Toast</span>
                                            <span class="text-primary">KSh 500</span>
                                        </h5>
                                        <small class="fst-italic">Golden crispy toast with a cinnamon and sugar dusting.
                                            With a side of eggs and coffee or tea.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/vegetable_stir_fry.jpg' %}"
                                         alt="Vegetable Stir-Fry" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Vegetable Stir-Fry</span>
                                            <span class="text-primary">KSh 1,500</span>
                                        </h5>
                                        <small class="fst-italic">A colorful mix of fresh vegetables in a savory
                                            soy-based sauce</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/fries.jpg' %}" alt="Fries Combo"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Fries Combo</span>
                                            <span class="text-primary">KSh 1,500</span>
                                        </h5>
                                        <small class="fst-italic">Crispy golden fries served with your choice of beef,
                                            pork, chicken, or fish.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/chicken_alfredo_pasta.jpg' %}"
                                         alt="Chicken Alfredo Pasta" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Alfredo Pasta</span>
                                            <span class="text-primary">KSh 2,200</span>
                                        </h5>
                                        <small class="fst-italic">Creamy Alfredo sauce over fettuccine pasta with
                                            grilled chicken</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/margherita_pizza.jpg' %}"
                                         alt="Margherita Pizza" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Margherita Pizza</span>
                                            <span class="text-primary">KSh 1,500</span>
                                        </h5>
                                        <small class="fst-italic">Classic pizza with fresh mozzarella, basil and tomato
                                            sauce</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/seafood_paella.jpg' %}"
                                         alt="Seafood Paella" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Seafood Paella</span>
                                            <span class="text-primary">KSh 2,600</span>
                                        </h5>
                                        <small class="fst-italic">A flavorful Spanish rice dish with shrimp, mussels and
                                            spices</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/pulled_pork.jpg' %}"
                                         alt="BBQ Pulled Pork" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>BBQ Pulled Pork</span>
                                            <span class="text-primary">KSh 2,000</span>
                                        </h5>
                                        <small class="fst-italic">Tender pulled pork with tangy BBQ sauce on a toasted
                                            bun</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/duck_orange.jpg' %}" alt="Duck à l'Orange"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Duck à l'Orange</span>
                                            <span class="text-primary">KSh 2,500</span>
                                        </h5>
                                        <small class="fst-italic">Roasted duck with a tangy orange sauce</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/roasted_vegetable_quinoa_bowl.jpg' %}"
                                         alt="Roasted Vegetable Quinoa Bowl"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Roasted Vegetable Quinoa Bowl</span>
                                            <span class="text-primary">KSh 2,000</span>
                                        </h5>
                                        <small class="fst-italic">Quinoa served with a variety of seasoned roasted
                                            vegetables</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/pork_tenderloin_with_apples.jpg' %}"
                                         alt="Pork Tenderloin with Apples"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Pork Tenderloin with Apples</span>
                                            <span class="text-primary">KSh 2,200</span>
                                        </h5>
                                        <small class="fst-italic">Juicy pork tenderloin cooked with caramelized
                                            apples</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/cajun_shrimp_pasta.jpg' %}"
                                         alt="Cajun Shrimp Pasta"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Cajun Shrimp Pasta</span>
                                            <span class="text-primary">KSh 3,000</span>
                                        </h5>
                                        <small class="fst-italic">Pasta tossed with shrimp, Cajun spices, and a creamy
                                            sauce</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/moroccan_lamb_tagine.jpg' %}"
                                         alt="Moroccan Lamb Tagine"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Moroccan Lamb Tagine</span>
                                            <span class="text-primary">KSh 3,600</span>
                                        </h5>
                                        <small class="fst-italic">Tender lamb cooked with apricots, almonds and
                                            Moroccan spices</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid menu-item-img"
                                         src="{% static 'assets/img/menu/baked_nile_perch_with_lemon.jpg' %}"
                                         alt="Baked Nile Perch with Lemon"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Baked Nile Perch with Lemon</span>
                                            <span class="text-primary">KSh 2,000</span>
                                        </h5>
                                        <small class="fst-italic">Fresh nile perch baked with lemon, garlic, and
                                            herbs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Menu Carousel End -->
            </div>
        </div>
        <!-- Menu End -->


        <!-- Reservation Start -->
        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="booking imageTable"></div>
                </div>
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Online Reservation</h5>
                        <h1 class="text-white mb-4">Book A Table</h1>
                        <form>
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name"
                                               autocomplete="name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="number" placeholder="Phone Number"
                                               autocomplete="number" required>
                                        <label for="number">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email"
                                               autocomplete="email" required>
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="datetime"
                                               placeholder="Date & Time" data-target="#date3"
                                               data-toggle="datetimepicker"
                                               required/>
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="select1">
                                            <option value="1">1 - 5</option>
                                            <option value="2">5 - 10</option>
                                            <option value="3">10 +</option>
                                        </select>
                                        <label for="select1">No Of People</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                    <textarea class="form-control" placeholder="Special Request" id="message"
                                              style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                                    allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reservation Start -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                    <h1 class="mb-5">Our Clients Say!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>The lakeside dining experience at Twiga Resort is truly one of a kind. The food, the view,
                            and
                            the ambiance are just perfect. I can't wait to visit again!</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle"
                                 src="{% static 'assets/img/testimonial/t1.jpg' %}" style="width: 50px; height: 50px;"
                                 alt="testimonial-image one">
                            <div class="ps-3">
                                <h5 class="mb-1">Ann Wambui</h5>
                                <small>Photographer</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>We hosted our corporate event at Twiga Resort, and everything was flawless. The staff was
                            attentive, and the setup was just beautiful.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle"
                                 src="{% static 'assets/img/testimonial/t2.jpg' %}" style="width: 50px; height: 50px;"
                                 alt="testimonial-image two">
                            <div class="ps-3">
                                <h5 class="mb-1">Sarah Lee</h5>
                                <small>Event Planner</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Twiga Resort is my family’s favorite weekend getaway. The kids love the pet-friendly spaces,
                            and
                            we adults enjoy the serene views and excellent meals.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle"
                                 src="{% static 'assets/img/testimonial/t3.jpg' %}" style="width: 50px; height: 50px;"
                                 alt="testimonial-image three">
                            <div class="ps-3">
                                <h5 class="mb-1">Joseph Otieno</h5>
                                <small>Entrepreneur</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Twiga Resort's lakeside dining is simply magical. Watching the sunset while enjoying their
                            signature dishes made my anniversary dinner unforgettable.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle"
                                 src="{% static 'assets/img/testimonial/t4.png' %}" style="width: 50px; height: 50px;"
                                 alt="testimonial-image seven">
                            <div class="ps-3">
                                <h5 class="mb-1">Alice Johnson</h5>
                                <small>Teacher</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>The garden at Twiga Resort is a little slice of paradise. I spent hours there reading and
                            soaking
                            in the tranquility. It’s a dream for nature lovers.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle"
                                 src="{% static 'assets/img/testimonial/t5.jpg' %}" style="width: 50px; height: 50px;"
                                 alt="testimonial-image ten">
                            <div class="ps-3">
                                <h5 class="mb-1">Oliver Kamau</h5>
                                <small>Writer</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>As an avid angler, I couldn’t ask for more. The fishing experience at Twiga Resort was
                            unparalleled, with expert guidance and beautiful lake views.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle"
                                 src="{% static 'assets/img/testimonial/t6.png' %}" style="width: 50px; height: 50px;"
                                 alt="testimonial-image eleven">
                            <div class="ps-3">
                                <h5 class="mb-1">Peter Brian</h5>
                                <small>Engineer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


{% endblock %}