{% extends 'basePage.html' %}
{% load static %}

{% block body %}

        <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-dark hero-header imageBookings mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Pay</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Pay</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Make a Payment</h2>
        <form method="post" action="{% url 'stk' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number:</label>
                <input type="number" class="form-control" id="phone" name="phone" value="254" placeholder="Phone Number">
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>

{% endblock %}


