{% extends 'twiga_management/basePageAdmin.html' %}
{% load static %}

{% block body %}

    <!-- Managers Table -->
    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded shadow border border-2">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h2 class="card-title card-title-dash">Twiga
                                Managers</h2>
                        </div>
                    </div>
                    <div class="table-responsive mt-1">
                        <table class="table table-striped table-hover select-table "
                               style="min-width: 800px; width: 100%;">
                            <thead>
                            <tr>
                                <th class="text-dark fw-semibold" style="width: 15%;">
                                    Manager name
                                </th>
                                <th class="text-dark fw-semibold" style="width: 13%;">
                                    Phone
                                </th>
                                <th class="text-dark fw-semibold" style="width: 15%;">
                                    Email
                                </th>
                                <th class="text-dark fw-semibold" style="width: 20%;">
                                    Image
                                </th>
                                <th class="text-dark fw-semibold" style="width: 13%;">
                                    Date Joined
                                </th>
                                <th class="text-dark fw-semibold" style="width: 10%;">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for manager in managers %}
                                <tr>
                                    <td class="text-wrap">
                                        <h6 class="ms-2">{{ manager.manager_name }}</h6>
                                    </td>
                                    <td>
                                        <h6>{{ manager.phone }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="{% if not manager.email %}text-danger{% endif %}">{{ manager.email|default:"No Email" }}</h6>
                                    </td>
                                    <td>
                                        <div class="d-flex" >
                                            <div class="me-3 d-flex align-items-center">
                                                {% if manager.image %}
                                                    <img src="{{ manager.image.url }}" alt="Manager Profile Image"
                                                         class="img-fluid rounded-circle"
                                                         style="width: 60px; height: 60px; object-fit: cover;">
                                                {% else %}
                                                    <h6 class="text-danger">No profile image</h6>
                                                {% endif %}
                                            </div>
                                            {% if request.session.manager_id == manager.id and manager.image %}
                                                <div class="d-flex flex-column align-items-center justify-content-center" style="min-width: 55px;">
                                                    <a href="{% url 'mgr_delete_image' manager.id %}"
                                                       class="btn btn-outline-danger" style="width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Delete Image</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-wrap">
                                        <h6>{{ manager.dateJoined|date:"Y-m-d" }}<br>{{ manager.dateJoined|time:"h:i A" }}
                                        </h6>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                            {% if request.session.manager_id == manager.id %}
                                                <button type="button" class="btn btn-outline-warning w-100"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop">
                                                    Edit
                                                </button>
                                            {% endif %}
                                            <a href="/manager_delete/{{ manager.id }}"
                                               class="btn btn-outline-danger w-100">DELETE</a>
                                        </div>
                                    </td>
                                </tr>
                                {% if request.session.manager_id == manager.id %}
                                    <tr>
                                        <td colspan="6" class="text-danger text-center">
                                            <strong class="h6 text-danger">Important Notice: </strong>
                                            <span class="h6 text-dark">Please be advised that deleting your account will result in</span>
                                            <span class="h6 text-danger"> immediate logout from your session.</span>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center text-black fw-semibold">
                                        No managers registered to Twiga yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Manager Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form method="POST" action="/manager_update/{{ manager.id }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="password" value="{{ manager.password }}">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" value="{{ manager.manager_name }}"
                                           id="manager_name"
                                           name="manager_name" placeholder="Your Name" required>
                                    <label for="manager_name">Your Name *</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" value="{{ manager.phone }}" id="phone"
                                           name="phone" placeholder="Your Phone" required>
                                    <label for="phone">Your Phone *</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" value="{{ manager.email|default:'' }}"
                                           id="email"
                                           name="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>

                            <!-- Image Preview, Upload, and Delete -->
                            <div class="col-12">
                                <div class="form-floating mb-2">
                                    <input type="file" name="image" class="form-control" id="image">
                                    <label for="image">Upload New Image</label>
                                </div>
                                {#                                <a href="{% url 'mgr_delete_image' manager.id %}" class="btn btn-outline-danger w-100">Delete#}
                                {#                                    Image</a>#}
                            </div>

                            <!-- Submit Buttons -->
                            <div class="col-md-6">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}